<nav class="desk">
    <ul role="list" class="desk-nav">
        <div>
            <a href="/" class="nav-item-desk-theme">Theme</a>
        </div>
        <div>
            <a href="/" class="nav-item-desk-home">Home</a>
        </div>
        <div>
            <a href="/blogs/" class="nav-item-desk-blogs">Blogs</a>
        </div>
    </ul>
</nav>