@import url("./variables.css");

*,
html,
body {
  font-size: 62.5%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "EB Garamond", serif;
  background-color: var(--background-primary);
}

.header {
  width: 100%;
  margin: 0 auto;
  height: 20vh;
  align-items: center;
  justify-content: space-evenly;
  color: var(--text-primary);
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90%;
  width: 100%;
}

.header-title {
  font-size: var(--h1);
  font-weight: 550;
}

.header-img {
  background-image: url("../media/home-img.jpg");
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  width: 100%;
  height: 377.5%;
}

.desk {
  background-color: var(--header-primary);
  width: 100%;
  height: 6.5vh;
  display: flex;
  justify-content: flex-end;
}

.desk-nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 20%;
  height: 100%;
}

.nav-item-desk-theme,
.nav-item-desk-blogs,
.nav-item-desk-theme:visited,
.nav-item-desk-blogs:visited,
.nav-item-desk-theme:link,
.nav-item-desk-blogs:link,
.nav-item-desk-home,
.nav-item-desk-home:visited,
.nav-item-desk-home:link {
  font-size: var(--h4);
  margin: 1rem 0;
  padding: 1rem 2rem;
  color: var(--text-primary);
  text-decoration: none;
  text-transform: uppercase;
}

.blogs-header {
  width: 100%;
  margin: 0 auto;
  height: 20vh;
  align-items: center;
  justify-content: space-evenly;
  background-color: #f0eaee;
}

.blogs-header-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90%;
  width: 100%;
}

.blogs-header-title {
  font-size: var(--h1);
  font-weight: 400;
  font-family: "EB Garamond", serif;
}

.section-container {
  display: flex;
  justify-content: center;
  color: var(--text-primary);
}

.article {
  color: var(--text-primary);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-bottom: 2rem;
}

.article-text {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 43%;
  height: 40rem;
  margin: 2rem auto;
  background-color: #e4d8dd;
  color: #66474d;
  align-items: center;
  border-radius: 2rem;
  box-shadow: 0px 2px 2px #66474d;
}

.article-title {
  margin-top: 4.5rem;
  font-size: var(--h2);
  font-weight: 520;
  margin-right: 40rem;
}

.article-author {
  font-size: var(--h4);
  font-weight: 500;
  margin-right: 40rem;
}

.article-date {
  font-size: var(--h4);
  font-weight: 500;
  margin-right: 40rem;
}

.btn,
.btn:link,
.btn:visited {
  font-family: "EB Garamond", serif;
  color: #66474d;
  font-size: var(--h5);
  text-decoration: none;
  padding: 1.5rem 4rem;
  display: inline-block;
  margin: 1rem auto;
  border: none;
  border-radius: 1rem;
  transition: all 0.2s;
  background-color: var(--button-primary);
  margin-right: 40rem;
}

.btn:hover {
  transform: translateY(-2px);
  box-shadow: 0 10px 0.5rem rgba(0, 0, 0, 0.2);
}

.img-preview {
  position: absolute;
  width: 397px;
  height: 339px;
  left: 930px;
  top: 274px;
  border-radius: 10px;
}
