@import url("./variables.css");

*,
html,
body {
  font-size: 62.5%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "EB Garamond", serif;
  background-color: var(--background);
}

.header {
  width: 100%;
  margin: 0 auto;
  height: 20vh;
  align-items: center;
  justify-content: space-evenly;
  color: var(--text);
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90%;
  width: 100%;
}

.header-title {
  font-size: var(--h1);
  font-weight: 550;
}

.header-img {
  background-image: url("../media/two.jpg");
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  width: 100%;
  height: 377.5%;
}

.desk {
  background-color: var(--header);
  width: 100%;
  height: 6.5vh;
  display: flex;
  justify-content: flex-end;
}

.desk-nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 20%;
  height: 100%;
}

.nav-item-desk-theme,
.nav-item-desk-blogs,
.nav-item-desk-theme:visited,
.nav-item-desk-blogs:visited,
.nav-item-desk-theme:link,
.nav-item-desk-blogs:link,
.nav-item-desk-home,
.nav-item-desk-home:visited,
.nav-item-desk-home:link {
  font-size: var(--h4);
  margin: 1rem 0;
  padding: 1rem 2rem;
  color: var(--text);
  text-decoration: none;
  text-transform: uppercase;
}

.blogs-header {
  width: 100%;
  margin: 0 auto;
  height: 20vh;
  align-items: center;
  justify-content: space-evenly;
  background-color: var(--background);
}

.blogs-header-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90%;
  width: 100%;
}

.blogs-header-title {
  font-size: var(--h1);
  font-weight: 400;
  font-family: "EB Garamond", serif;
}

.section-container {
  display: flex;
  justify-content: center;
  color: var(--text);
}

.article {
  color: var(--text);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-bottom: 2rem;
}

.article-text {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 80rem;
  height: 40rem;
  margin: 2rem auto;
  background-color: var(--card-background);
  color: var(--text);
  align-items: center;
  border-radius: 2rem;
  box-shadow: 0px 2px 2px var(--text);
}

.article-title {
  margin-top: 4.5rem;
  font-size: var(--h2);
  font-weight: 520;
  margin-right: 40rem;
}

.article-author {
  font-size: var(--h4);
  font-weight: 500;
  margin-right: 40rem;
}

.article-date {
  font-size: var(--h4);
  font-weight: 500;
  margin-right: 40rem;
}

.btn,
.btn:link,
.btn:visited {
  font-family: "EB Garamond", serif;
  color: var(--text);
  font-size: var(--h5);
  text-decoration: none;
  padding: 1.5rem 4rem;
  display: inline-block;
  margin: 1rem auto;
  border: none;
  border-radius: 1rem;
  transition: all 0.2s;
  background-color: var(--button);
  margin-right: 40rem;
}

.btn:hover {
  transform: translateY(-2px);
  box-shadow: 0 10px 0.5rem rgba(0, 0, 0, 0.2);
}

.img-preview {
  position: absolute;
  width: 397px;
  height: 339px;
  margin-left: 16.5rem;
  border-radius: 10px;
}

.main-title {
  font-size: var(--h1);
  color: var(--text-primary);
  font-weight: 450;
  width: 100%;
  margin-top: 4rem;
  height: 20vh;
  align-items: center;
}

.figure-image {
  position: absolute;
  width: 55.5rem;
  height: 370px;
  margin-top: -4rem;
  margin-left: 68rem;
  border-radius: 10px;
}

.article-description {
  position: absolute;
  border-radius: 10px;
  font-style: normal;
  font-weight: 350;
  font-size: 25px;
  line-height: 55px;
  display: flex;
  align-items: left;
  text-align: left;
  margin-left: 14rem;
  margin-top: 47rem;
  margin-right: 9rem;
  color: var(--text-primary);
}

.main-author {
  position: absolute;
  font-size: var(--h4);
  font-weight: 520;
  margin-left: 68rem;
  margin-top: 35rem;
  color: var(--text-primary);
}

.main-date {
  position: absolute;
  font-size: var(--h4);
  font-weight: 520;
  margin-left: 68rem;
  margin-top: 39rem;
  color: var(--text-primary);
}

@media screen and (max-width: 1520px) {
  .article-text {
    width: 45%;
  }
  .article-title {
    font-size: var(--h2);
  }
  .article-author {
    font-size: var(--h4);
  }
  .article-date {
    font-size: var(--h4);
  }
  .article-link {
    font-size: var(--h2);
  }
}

@media screen and (max-width: 1150px) {
  .article-text {
    width: 70%;
  }
  .article-title {
    font-size: var(--h2);
    margin-left: 8rem;
  }
  .img-preview {
    width: 30rem;
    height: 30rem;
  }
  .article-author {
    font-size: var(--h4);
    margin-left: 8rem;
  }
  .article-date {
    font-size: var(--h4);
    margin-left: 8rem;
  }
  .article-link {
    font-size: var(--h4);
    margin-left: 8rem;
  }
}

@media screen and (max-width: 600px) {
  .article-text {
    width: 95%;
  }
  .article-title {
    font-size: var(--h3);
    margin-left: 15rem;
  }
  .img-preview {
    width: 28rem;
    height: 20rem;
    padding-right: 9rem;
  }
  .article-author {
    font-size: var(--h5);
    margin-left: 15rem;
  }
  .article-date {
    font-size: var(--h5);
    margin-left: 15rem;
  }
  .article-link {
    font-size: var(--h5);
    margin-left: 15rem;
  }
}

p {
  color: red;
  font-size: 500px;
}
