<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Articles</title>
    <link rel="stylesheet" href="../style/style.css">
</head>
<body class="blue-theme">
    {% include 'nav.njk' %}
    <section class="section-container">
        <header class="blogs-header">
            <div class="blogs-header-container">
                <h1 class="blogs-header-title">
                    Desserts
                </h1>
            </div>
        <ul class="articles">
            {%- for post in collections.post -%}
                <article class="article">
                    <div class="article-text">
                        <h3 class="article-title">{{post.data.title}}</h3>
                        <img src="{{post.data.image}}" alt="" class="img-preview">
                        <h4 class="article-author">By: {{post.data.author}}</h4>
                        <h4 class="article-date">Date: {{post.data.date | postDate}}</h4>
                        <a class="article-link" href="{{post.url}}"><button class="btn">Continue Reading</button></a>
                    </div>
                </article>
            {%- endfor -%}
        </ul>
    </section>
    <script type="module" src="./main.js"></script>
</body>
</html>